.mt-100{
	margin-top:100px !important;
}

#login{
	padding:40px !important;
}

#login h1{
	color: grey !important;
}

#register div.card-body{
	padding:30px 40px !important;
}

#register h1{
	color: grey !important;
}

.table td{
	font-size:18px !important;
}

.title{
	font-size:26px !important;
	font-weight:bold !important;
}

.active{
	background:black !important;
}